<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Side Navigation Bar</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

  <div class="wrapper">
    <div class="sidebar">
      <h2 href="#" [routerLink]="['/DashboardAdmin']">Proyecto Gestor</h2>
      <ul>
        <li><a href="#" [routerLink]="['/DashboardAdmin']">Perfil</a></li>
        <li><a href="#" [routerLink]="['/RegistroClientes']">Registrar</a></li>
        <li><a href="#"><i class="fas fa-blog"></i>Crear Equipos</a></li>
        <li><a href="#" [routerLink]="['/TablasEmpleados']"><i class="fas fa-user"></i>Empleados</a></li>
        <li><a class="Clientes" [routerLink]="['/TablaClientes']">Clientes</a></li>
        <li><a href="#" [routerLink]="['/TablasEquipos']"><i class="fas fa-project-diagram"></i>Equipos</a></li>
        <li><a href="#" [routerLink]="['/TablasProyectos']"><i class="fas fa-address-book"></i>Proyectos</a></li>
        <li><a href="#" [routerLink]="['/SolicitudesProyectos']"><i class="fas fa-address-book"></i>Proyectos en espera</a></li>

      </ul>

    </div>
    <div class="main_content">

      <div class="header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tabla de Clientes</div>
      <button *ngIf="enableEdit " (click)="enableEdit=false" class="btn page-secondary-action-btn" ng-click="cancel()">Cancel</button>
      <button *ngIf="enableEdit" id="saveBtn" class="btn page-primary-action-btn" (click)="saveSegment()" type="submit">Save</button>
      <button *ngIf="!enableEdit && !enableShowD" class="btn page-secondary-action-btn" (click)="enableEditMethod($event, i)"> Modificar Informacion</button>

      <div *ngIf="enableDelete && !enableEdit"  class="btn page-secondary-action-btn"> Ingrese ID</div>
      <input *ngIf="enableDelete && !enableEdit" type="text" />
      <button *ngIf="enableDelete && !enableEdit" (click)="eliminar()" class="btn page-secondary-action-btn" ng-click="cancel()">Eliminar</button>
      <button *ngIf="enableDelete && !enableEdit" (click)="enableAll()" class="btn page-secondary-action-btn" ng-click="cancel()">Cancel</button>
      <button *ngIf="!enableDelete" class="btn page-secondary-action-btn" (click)="enableDeleteMethod()" input="text">
        Eliminar Informacion
      </button>
      <!--<div class="info">-->

      <table class='table' *ngIf="lstUsuarios">
        <thead>
          <tr>
            <th>ID Usuario</th>
            <th>ID Cliente</th>
            <th>ID Rol</th>
            <th>Username</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Pais</th>
            <th>Telefono</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of lstUsuarios; index as i;">
            <td>   {{emp.idUsuario}} </td>
            <td>   {{emp.idCliente}} </td>
            <td>   {{emp.rolesIdRol}} </td>
            <td>   <input type="text" [(ngModel)]="emp.username" [disabled]="!enableEdit"> </td>
            <td>   <input type="text" [(ngModel)]="emp.nombre" [disabled]="!enableEdit"> </td>
            <td>   <input type="text" [(ngModel)]="emp.direccion" [disabled]="!enableEdit"> </td>
            <td>   <input type="text" [(ngModel)]="emp.pais" [disabled]="!enableEdit"> </td>
            <td>   <input type="text" [(ngModel)]="emp.telefono" [disabled]="!enableEdit"> </td>
            <td>   <input type="text" [(ngModel)]="emp.email" [disabled]="!enableEdit"> </td>
          </tr>

          <!--<button (click)="enableEdit=true" *ngIf="!enableEdit">Edit</button>
      <button (click)="enableEdit=false" *ngIf="enableEdit">Cancelar</button>
      <button (click)="deleteEmployee(i)">Delete</button>-->
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>

