<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Side Navigation Bar</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

  <div class="wrapper">
    <div class="sidebar">
      <h2 href="#" [routerLink]="['/DashboardAdmin']">Proyecto Gestor</h2>
      <ul>
        <li><a href="#" [routerLink]="['/DashboardAdmin']">Perfil</a></li>
        <li><a href="#" [routerLink]="['/RegistroClientes']">Registrar</a></li>
        <li><a href="#" [routerLink]="['/RegistroEquipos']"><i class="fas fa-blog"></i>Crear Equipos</a></li>
        <li><a href="#" [routerLink]="['/TablasEmpleados']"><i class="fas fa-user"></i>Empleados</a></li>
        <li><a class="Clientes" [routerLink]="['/TablaClientes']">Clientes</a></li>
        <li><a href="#" [routerLink]="['/TablasEquipos']"><i class="fas fa-project-diagram"></i>Equipos</a></li>
        <li><a href="#" [routerLink]="['/TablasProyectos']"><i class="fas fa-address-book"></i>Proyectos</a></li>
        <li><a href="#" [routerLink]="['/SolicitudesProyectos']"><i class="fas fa-address-book"></i>Proyectos en espera</a></li>
      </ul>
    </div>
    <div class="main_content">
        <div class="header">Registro de equipos.</div>
        <div class="container">
          <form [formGroup]="clientesForm">
            <label>
              <input type="text" placeholder="Nombre" formControlName="nombre">
            </label>
            <br />
            <button class="boton" type="submit" (click)="onSubmit()">Register</button>
          </form>
        </div>
        <!--<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A sed nobis ut exercitationem atque accusamus sit natus officiis totam blanditiis at eum nemo, nulla et quae eius culpa eveniet voluptatibus repellat illum tenetur, facilis porro. Quae fuga odio perferendis itaque alias sint, beatae non maiores magnam ad, veniam tenetur atque ea exercitationem earum eveniet totam ipsam magni tempora aliquid ullam possimus? Tempora nobis facere porro, praesentium magnam provident accusamus temporibus! Repellendus harum veritatis itaque molestias repudiandae ea corporis maiores non obcaecati libero, unde ipsum consequuntur aut consectetur culpa magni omnis vero odio suscipit vitae dolor quod dignissimos perferendis eos? Consequuntur!</div>
  <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A sed nobis ut exercitationem atque accusamus sit natus officiis totam blanditiis at eum nemo, nulla et quae eius culpa eveniet voluptatibus repellat illum tenetur, facilis porro. Quae fuga odio perferendis itaque alias sint, beatae non maiores magnam ad, veniam tenetur atque ea exercitationem earum eveniet totam ipsam magni tempora aliquid ullam possimus? Tempora nobis facere porro, praesentium magnam provident accusamus temporibus! Repellendus harum veritatis itaque molestias repudiandae ea corporis maiores non obcaecati libero, unde ipsum consequuntur aut consectetur culpa magni omnis vero odio suscipit vitae dolor quod dignissimos perferendis eos? Consequuntur!</div>
  <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A sed nobis ut exercitationem atque accusamus sit natus officiis totam blanditiis at eum nemo, nulla et quae eius culpa eveniet voluptatibus repellat illum tenetur, facilis porro. Quae fuga odio perferendis itaque alias sint, beatae non maiores magnam ad, veniam tenetur atque ea exercitationem earum eveniet totam ipsam magni tempora aliquid ullam possimus? Tempora nobis facere porro, praesentium magnam provident accusamus temporibus! Repellendus harum veritatis itaque molestias repudiandae ea corporis maiores non obcaecati libero, unde ipsum consequuntur aut consectetur culpa magni omnis vero odio suscipit vitae dolor quod dignissimos perferendis eos? Consequuntur!</div>-->
    </div>
  </div>
</body>
</html>
