<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Side Navigation Bar</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

  <div class="wrapper">
    <div class="sidebar">
      <h2 href="#" [routerLink]="['/DashboardAdmin']">Proyecto Gestor</h2>
      <ul>
        <li><a href="#" [routerLink]="['/DashboardAdmin']">Perfil</a></li>
        <li><a href="#" [routerLink]="['/RegistroClientes']">Registrar</a></li>
        <li><a href="#"><i class="fas fa-blog"></i>Crear Equipos</a></li>
        <li><a href="#" [routerLink]="['/TablasEmpleados']"><i class="fas fa-user"></i>Empleados</a></li>
        <li><a class="Clientes" [routerLink]="['/TablaClientes']">Clientes</a></li>
        <li><a href="#" [routerLink]="['/TablasEquipos']"><i class="fas fa-project-diagram"></i>Equipos</a></li>
        <li><a href="#" [routerLink]="['/TablasProyectos']"><i class="fas fa-address-book"></i>Proyectos</a></li>
        <li><a href="#" [routerLink]="['/SolicitudesProyectos']"><i class="fas fa-address-book"></i>Proyectos en espera</a></li>

      </ul>

    </div>
    <div class="main_content">

      <div class="header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tabla de Clientes</div>

      <div *ngIf="enableEdit " class="btn page-secondary-action-btn"> Ingrese ID</div>
      <input *ngIf="enableEdit" id="ticket" type="number" />
      <button *ngIf="enableEdit " (click)="actualizarProyecto()" class="btn page-secondary-action-btn">Aprobar</button>
      <button *ngIf="enableEdit " (click)="denegarProyecto()" class="btn page-secondary-action-btn">Denegar</button>
      <button *ngIf="enableEdit" (click)="disableEditMethod()" class="btn page-secondary-action-btn" ng-click="cancel()">Cancel</button>
      <button *ngIf="!enableEdit" class="btn page-secondary-action-btn" (click)="enableEditMethod() " input="text" id="aceptar">
        Modificar Estado
      </button>



      <table class='table' *ngIf="lstUsuarios">
        <thead>
          <tr>
            <th>ID Ticket</th>
            <th>ID Usuario</th>
            <th>Nombre Proyecto</th>
            <th>Tecnologias</th>
            <th>Presupuesto</th>
            <th>Estado Solicitud</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of lstUsuarios; index as i;">
            <td>   {{emp.id_ticket}} </td>
            <td>   {{emp.Clientes_id_usuario}} </td>
            <td>   {{emp.nombre}} </td>
            <td>   {{emp.tecnologias}} </td>
            <td>   {{emp.presupuesto}} </td>
            <td>   {{emp.estado_solicitud}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>

