<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Side Navigation Bar</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

  <div class="wrapper">
    <div class="sidebar">
      <h2 href="#" [routerLink]="['/DashboardCClientes']">Proyecto Gestor</h2>
      <ul>
        <!-- <li><a href="/Clientes"><i class="fas fa-home"></i>Clientes</a></li>-->
        <li><a href="#" [routerLink]="['/DashboardCClientes']">Perfil</a></li>
        <li><a href="#" [routerLink]="['/RegistroProyectos']">Solicitar Proyecto</a></li>
        <li><a href="#" [routerLink]="['/TablasSolicitudesProyectos']">Ver Solicitudes de proyecto</a></li>
        <li><a href="#" [routerLink]="['/ProyectosAprobados']">Proyectos Aprobados</a></li>

      </ul>

    </div>
    <div class="main_content">

      <div class="header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tabla de Solicitudes</div>
      <!--<div class="info">-->

      <table class='table' *ngIf="lstUsuarios">
        <thead>
          <tr>
            <th>ID Ticket</th>
            <th>Nombre Proyecto</th>
            <th>Tecnologias</th>
            <th>Presupuesto</th>
            <th>Estado Solicitud</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of lstUsuarios; index as i;">
            <td>   {{emp.id_ticket}} </td>
            <td>   {{emp.nombre}} </td>
            <td>   {{emp.tecnologias}} </td>
            <td>   {{emp.presupuesto}} </td>
            <td>   {{emp.estado_solicitud}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>

